@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');


html {
    scroll-behavior: smooth;
}

body{
    background-image: url("../images/bg.webp");
    background-repeat: repeat;
    background-color: #F2D16B;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

div#landingPageIntro {
    position: relative;
    margin-left: 50%;
    padding-top: 30px;
    font-family: 'Niconne', cursive;
}

p {
    font-family: 'Handlee', cursive;
    font-size: 1.4em;
}

#landingPageIntro h1, #landingPageIntro h2   {
    font-family: 'Niconne', cursive;
    font-size: 2.8em;
    width: 100%;
}

#header_container {
    width: 100%;
    height: 94vh;
    /*Parallax Scrolling Effect*/
    min-height: 94vh;
    background-image: url("../images/beach.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    background-size: 100% 100%;
}

#townSection, #townSection .card {
    background: rgb(243,235,244);
    background: linear-gradient(180deg, rgba(243,235,244,1) 43%, rgba(196,196,228,1) 83%);
}

.zoom {
    transition: transform 2s;
    z-index: 1;
    position: relative;
    top: 0px;
}

.expandPic {
    --scaleSize: 2.2;
    -ms-transform: scale(var(--scaleSize)); /* IE 9 */
    -webkit-transform: scale(var(--scaleSize)); /* Safari 3-8 */
    transform: scale(var(--scaleSize));
    z-index: 100 ;
}

/* overlay functionality */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    background-image: url("../images/palmtree.webp");
    opacity: .95;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow-x: hidden;
    transition: 1.2s;
}

.overlay-content {
    position: absolute ;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-size: 1.9em ;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media  (max-width: 767px) {
    .overlay a {
        font-size: 1.4em ;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* woodContainer   */
.woodContainer {
    background-image: url("../images/woodTable.webp");
    background-repeat: round;
    background-position: center;
    border-radius: 10px 100px / 120px;
    box-shadow: 12px 12px 2px 1px #966F33;
    color: #e0dbd1; /* chalk white */
    padding: 5px 20px 40px 40px;
}

.woodContainer .myTitle {
    font-family: 'Handlee', cursive;
    font-size: 45px;
}

.woodContainer:hover > .myTitle  {
    font-weight: bolder;
    font-size: 46px;
}

.woodContainer .mySubtitle {
   font-family: 'Handlee', cursive;
   font-size: 2.3em;
}

.woodContainer p {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
}

#navbarMenuContainer span {
    font-size: 30px;
    cursor: pointer;

}

#homeNavbar button i {
    font-size: 25px;
    padding-left: 10px;
}

/*footer*/
#baseFooter {
    background-image: url("../images/beach_bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

#baseFooter .footerMenu {
    grid-column: 1;
    grid-row: 1;
    display:    grid;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#baseFooter .footerMenu li a {
    color: #0099e6;

}

#baseFooter .footerMenu li a:hover {
    color: white;

}

#baseFooter .reserveRights {
    grid-column: 1;
    grid-row: 2;
    display:    grid;
    align-items: center;
    justify-content: center;
}

#baseFooter .reserveRights p {
    display: flex;
    align-self: center;
    justify-content: center;
}

#baseFooter img.beachIcon {
    width: 250px ;
    height: 250px;
}

#baseFooter hr {
    background-color:  #ffece6;
    height: 1px;
}

