* {
    box-sizing: border-box;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}

/* picture Frame container*/
.pictureFrame {
    background: rgb(217,250,249);
    background: -moz-linear-gradient(239deg, rgba(217,250,249,1) 0%, rgba(251,255,255,1) 13%, rgba(206,255,253,1) 31%, rgba(253,255,255,1) 43%, rgba(206,255,253,1) 61%, rgba(253,255,255,1) 80%, rgba(206,255,253,1) 100%);
    background: -webkit-linear-gradient(239deg, rgba(217,250,249,1) 0%, rgba(251,255,255,1) 13%, rgba(206,255,253,1) 31%, rgba(253,255,255,1) 43%, rgba(206,255,253,1) 61%, rgba(253,255,255,1) 80%, rgba(206,255,253,1) 100%);
    background: linear-gradient(239deg, rgba(217,250,249,1) 0%, rgba(251,255,255,1) 13%, rgba(206,255,253,1) 31%, rgba(253,255,255,1) 43%, rgba(206,255,253,1) 61%, rgba(253,255,255,1) 80%, rgba(206,255,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9faf9",endColorstr="#cefffd",GradientType=1);
    border-radius: 12px;
    border: 1.2rem solid;
}

/* Slideshow container */
.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    padding: 30px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 16px;
    position: flex;
    align-self: center;
    margin:auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 200;
}

/* Position the "next button" to the right */
.next {
    right: 1%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text_ {
    color: #1a1a1a;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 34px;
    width: 100%;
    left: 0%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #1a1a1a;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: -3px;
    z-index: 200;
}

/* The dots/bullets/indicators */
.dot {
    --radius: 24px;
    cursor: pointer;
    margin: 0px 3px;
    width: var(--radius) !important;
    height: var(--radius) !important;
    background-color: #bbb;
    border-radius: 90%;
    position: relative;
    top: 22px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active  {
    background-image: url("../icons/coconut.png");
    background-repeat: round;
}
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

