.contact .wrapperL1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-auto-rows: minmax(60px, auto);
    column-gap: 20px;
    margin: 0px 10px;
}

.contact .wrapperL1 .instructions {
    padding: 15px;
    border-radius: 20px / 20px ;
    background-color: #e6e6e6;
    grid-column: 1 / 2;
    grid-row: 1;
}

.contact .wrapperL1 .instructions img {
    width: 70px;
    height: 60px;
}

.contact .wrapperL1 .location {
    grid-column: 1 / 3;
    grid-row: 2;
    justify-self: center;
}

.contact .wrapperL1 .woodContainer {
    grid-column: 2/ 3;
    grid-row: 1;
    align-self: start;
}

.contact .woodContainer .subWrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1px;
    grid-auto-rows: minmax(60px, auto);
    align-items: center;
    column-gap: 2px;
}

.contact .woodContainer .subWrapper .tel{
    letter-spacing: 6px;
}

.contact .woodContainer .subWrapper .whatsapp_icon {
    --diameter: 55px;
    width: var(--diameter);
    height: var(--diameter);

}

.contact .woodContainer .subWrapper .email_icon {
    width: 63px;
    height: 40px;

}

@media (max-width:1279px) {
    .contact .wrapperL1 {
        display: grid;
        grid-template-columns: minmax(300px, 1fr);
        width: 100% ;
        gap: 50px 0px;
        justify-items: center;
    }
    .contact .wrapperL1 .woodContainer {
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .contact .wrapperL1 .instructions {
        grid-column: 1 / 2;
        grid-row: 2;
    }
    .contact .wrapperL1 .location {
        grid-column: 1 / 2;
        grid-row: 3;
    }
    .contact .woodContainer .subWrapper {
        grid-template-columns: 1fr;
        justify-items:  center;
    }
    .contact .woodContainer .subWrapper p {
        font-size: 22px;
    }

}

@media (max-width:399px) {
    .contact .wrapperL1 .woodContainer {
        width: 100%;
    }
    .contact .woodContainer .subWrapper p {
        font-size: 20px;
    }
}

