#currWeatherCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  grid-auto-rows: min-content;
  margin: 10px 1px 10px 0px;
  border-radius: 8% 8%;
  /*background-color: aqua;*/
  color: antiquewhite;
  font-weight: bold;
  background: #45c0c4;
  background: -moz-linear-gradient(90deg, #45c0c4 0%, #1ae7e7 20%, #00c9fe 41%, #2acbf5 68%, #12e7df 80%, aqua 100%);
  background: -webkit-linear-gradient(90deg, #45c0c4 0%, #1ae7e7 20%, #00c9fe 41%, #2acbf5 68%, #12e7df 80%, aqua 100%);
  background: linear-gradient(90deg, #45c0c4 0%, #1ae7e7 20%, #00c9fe 41%, #2acbf5 68%, #12e7df 80%, aqua 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#45c0c4",endColorstr="#00ffff",GradientType=1);
}
#currWeatherCard .leftCard {
  grid-column: 1/2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 125px;
}
#currWeatherCard .leftCard .descIcon {
  position: absolute;
  top: -15px;
  width: 130px;
}
#currWeatherCard .leftCard .descTxt {
  position: absolute;
  top: 90px;
  font-size: 1.4em;
}
#currWeatherCard .rightCard {
  grid-column: 2/3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#currWeatherCard .rightCard .tempTxt {
  position: absolute;
  font-weight: bolder;
  top: 30px;
  font-size: 2.5em;
}
#currWeatherCard .rightCard .feelsTxt {
  position: absolute;
  top: 80px;
  font-size: 1.3em;
}
#currWeatherCard .bottomCard {
  grid-column: 1/3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
  grid-auto-rows: min-content;
  position: relative;
}
#currWeatherCard .bottomCard .sunriseCard {
  grid-column: 1/2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 120px;
}
#currWeatherCard .bottomCard .sunriseCard .sunriseIcon {
  position: absolute;
  top: 10px;
  width: 80px;
  height: 60px;
}
#currWeatherCard .bottomCard .sunriseCard .sunriseTxt {
  position: absolute;
  top: 80px;
}
#currWeatherCard .bottomCard .sunsetCard {
  grid-column: 2/3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#currWeatherCard .bottomCard .sunsetCard .sunsetIcon {
  position: absolute;
  top: 10px;
  width: 80px;
  height: 60px;
}
#currWeatherCard .bottomCard .sunsetCard .sunsetTxt {
  position: absolute;
  top: 80px;
}
#currWeatherCard .bottomCard .cloudsCard {
  grid-column: 3/4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#currWeatherCard .bottomCard .cloudsCard .cloudsIcon {
  position: absolute;
  top: 10px;
  width: 60px;
  height: 60px;
}
#currWeatherCard .bottomCard .cloudsCard .cloudsTxt {
  position: absolute;
  top: 80px;
}
#currWeatherCard .bottomCard .humidityCard {
  grid-column: 4/5;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#currWeatherCard .bottomCard .humidityCard .humidityIcon {
  position: absolute;
  top: 10px;
  width: 60px;
  height: 60px;
}
#currWeatherCard .bottomCard .humidityCard .humidityTxt {
  position: absolute;
  top: 80px;
}
#currWeatherCard .bottomCard .rainCard {
  grid-column: 1/3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#currWeatherCard .bottomCard .rainCard .rainIcon {
  position: absolute;
  top: 10px;
  width: 70px;
  height: 70px;
}
#currWeatherCard .bottomCard .rainCard .rainTxt {
  position: absolute;
  top: 100px;
}
#currWeatherCard .bottomCard .windCard {
  grid-column: 3/5;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 170px;
}
#currWeatherCard .bottomCard .windCard .windIcon {
  position: absolute;
  top: 10px;
  width: 70px;
  height: 70px;
}
#currWeatherCard .bottomCard .windCard .windSpeedTxt {
  position: absolute;
  top: 80px;
}
#currWeatherCard .bottomCard .windCard .windDirTxt {
  position: absolute;
  top: 112px;
}
#currWeatherCard .bottomCard .windCard .windScaleTxt {
  position: absolute;
  top: 135px;
}

@media (max-width: 460px) {
  #currWeatherCard {
    margin-right: 12px;
  }
  #currWeatherCard p {
    font-size: 1.1em;
  }
}

/*# sourceMappingURL=currWeatherCard.css.map */
