#hotelNavBar {
  display: grid;
  grid-template-columns: 1fr 1fr 0.4fr;
  gap: 0px;
  grid-auto-rows: min-content;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  width: 100%;
  font-family: "Handlee", cursive;
  font-size: 1.4em;
}
#hotelNavBar .leftBlock {
  height: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1;
}
#hotelNavBar .leftBlock .hotelLogo {
  position: absolute;
  top: 20px;
  left: 50px;
}
#hotelNavBar .leftBlock .hotelName {
  position: absolute;
  top: 25px;
  left: 110px;
}
#hotelNavBar .middleBlock {
  grid-column: 2/3;
  grid-row: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}
#hotelNavBar .middleBlock .weatherFrame {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 270px;
}
#hotelNavBar .middleBlock .weatherFrame .btnWeatherInfo {
  z-index: 2;
  position: absolute;
  top: 8px;
}
#hotelNavBar .middleBlock .weatherFrame .btnWeatherInfo i {
  font-size: 22px;
}
#hotelNavBar .middleBlock .weatherFrame .summaryWeather {
  position: relative;
  width: 150px;
  left: 70px;
}
#hotelNavBar .middleBlock .weatherFrame .summaryWeather img {
  position: absolute;
  width: 90px;
  top: 0px;
  left: 38px;
}
#hotelNavBar .middleBlock .weatherFrame .summaryWeather p {
  position: absolute;
  top: 25px;
  left: 119px;
}
#hotelNavBar .rightBlock {
  grid-column: 3/4;
  grid-row: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hotelNavBar .rightBlock .btnMenu {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
  top: 25px;
}

@media (max-width: 920px) {
  #hotelNavBar {
    grid-template-columns: 1fr;
    font-size: 1.4em;
  }
  #hotelNavBar .leftBlock {
    grid-column: 1;
    grid-row: 1;
    height: 100px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  #hotelNavBar .leftBlock .hotelLogo {
    position: relative;
    top: 0px;
    left: 20px;
  }
  #hotelNavBar .leftBlock .hotelName {
    position: relative;
    top: 0px;
    left: 30px;
  }
  #hotelNavBar .rightBlock {
    position: relative;
    grid-column: 1;
    grid-row: 3;
    height: 55px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  #hotelNavBar .rightBlock .btnMenu {
    position: relative;
    top: 0px;
  }
  #hotelNavBar .middleBlock {
    position: relative;
    grid-column: 1;
    grid-row: 2;
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  #hotelNavBar .middleBlock .weatherFrame {
    position: relative;
    top: -50px;
    left: 0px;
  }
}
@media (max-width: 400px) {
  #hotelNavBar .leftBlock .hotelName {
    width: 270px;
  }
}

/*# sourceMappingURL=navigationBar.css.map */
