
.slidedown-trigger .question {
    border-radius: 30px;
    text-align: justify;
    padding: 10px;
    color: azure;
    display: inline-flex;
    box-shadow: 0px 0px 9px -2px #000019;
}

.slidedown-trigger .question p {
    display: inline-table;
}

.slidedown-menu .box {
    display: inline-flex;
}

.slidedown-menu .box p {
    display: inline-table;
}

.slidedown-trigger .question:hover {
    cursor: pointer;
}

.slidedown-menu {
    opacity: 0.75;
}
