:root {
    --pad: 10px;
    --left-txt-lg: 75px;
    --left-icon-lg: 20px;
    --left-icon2-lg: 225px;
    --left-txt2-lg: 285px;
}

.weatherCard {
    display: grid;
    grid-template-columns: 1fr 60%;
    gap: 0px;
    grid-auto-rows: 120px 75px;
    font-family: 'Handlee', cursive;
    font-size: 1.1em;
    margin: 8px 0px;
    padding: 0px 0px;
}

.weatherCard .upperLeftBlock {
    position: relative;
    padding: var(--pad);
    grid-column: 1 / 2;
    grid-row: 1 ;
    background-color: #d2b48c;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherCard .upperLeftBlock .dayCard {
    grid-column: 1 / 2;
    grid-row: 1 ;
    position: absolute ;
    top: 0px;
}



.weatherCard .upperLeftBlock .dateCard {
    grid-column: 1 / 2;
    grid-row: 2 ;
    position: absolute;
    top: 22px;
}

.weatherCard .upperLeftBlock .iconCard {
    grid-column: 1 / 2;
    grid-row: 3 ;
    position: absolute;
    top: 24px;
}

.weatherCard .upperLeftBlock .descCard {
    grid-column: 1 / 2;
    grid-row: 4 ;
    position: absolute;
    top: 92px;
}

.weatherCard .lowerLeftBlock {
    position: relative;
    padding: var(--pad);
    grid-column: 1 / 2;
    grid-row: 2 ;
    background-color: #ffff66;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherCard .lowerLeftBlock .maxTemp {
    position: absolute;
    top: -6px;
    font-size: 25px;
    color: #ff0028;
}

.weatherCard .lowerLeftBlock  .minTemp {
    position: absolute;
    top: 28px;
    font-size: 14px;
    color: #007FFF;
}

.weatherCard .lowerLeftBlock .feelsCard {
    position: absolute;
    top: 50px;
    font-size: 13px;
}

.weatherCard .rightBlock {
    padding: var(--pad);
    grid-column: 2 / 3;
    grid-row: 1 / 3 ;
    background-color: #e0ffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherCard .rightBlock img {
    position: absolute;
    width: 30px;
}

.weatherCard .rightBlock img.sunTemp_icon {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 30px;
}

.weatherCard .rightBlock .sunTemp {
    position: absolute;
    top: 16px;
    left: 55px;
}

.weatherCard .rightBlock img.nightTemp_icon {
    top: 50px;
    left: 10px;
    width: 40px;
    height: 30px;
}

.weatherCard .rightBlock .nightTemp {
    position: absolute;
    top: 56px;
    left: 55px;
}

.weatherCard .rightBlock img.rain_icon {
    top: 90px;
    left: 10px;
    width: 45px;
    height: 35px;
}

.weatherCard .rightBlock .rain {
    position: absolute;
    top: 96px;
    left: 140px;
    height: 30px;
}

.weatherCard .rightBlock .pop {
    position: absolute;
    top: 96px;
    left: 59px;
    height: 30px;
}

.weatherCard .rightBlock img.wind_icon {
    top: 135px;
    left: 10px;
    width: 45px;
    height: 35px;
}

.weatherCard .rightBlock .windspeed {
    position: absolute;
    top: 135px;
    left: 64px;
    height: 30px;
}

/* responsiveness section */
/* responsiveness for small screens */
@media (max-width: 414px) {
    .weatherCard {
        margin-right: 11px;
    }
    .weatherCard .rightBlock {
        font-size: 0.87em;
    }
    .weatherCard .rightBlock .winddir {
        left: 136px;
    }
    .weatherCard .rightBlock .windscale {
        position: absolute;
        top: 170px;
        left: 14px;
        height: 30px;
    }
    .weatherCard .rightBlock .rain {
        left: 115px;
        top: 98px;
    }
    .weatherCard .rightBlock .pop {
        top: 98px;
    }
    .weatherCard .rightBlock .humidity_icon {
        position: absolute;
        top: 11px;
        left: 115px;
        height: 30px;
    }
    .weatherCard .rightBlock .humidity {
        position: absolute;
        top: 14px;
        left: 153px;
        height: 30px;
    }
    .weatherCard .rightBlock .clouds_icon {
        position: absolute;
        top: 51px;
        left: 115px;
        height: 30px;
    }
    .weatherCard .rightBlock .clouds {
        position: absolute;
        top: 58px;
        left: 153px;
        height: 30px;
    }
    .weatherCard .lowerLeftBlock .feelsCard {
        left:12px;
        top: 50px;
        font-size: 11px;
    }
    .weatherCard .upperLeftBlock {
        font-size: 0.7em;
    }
    .weatherCard .upperLeftBlock .descCard {
        top: 96px;
    }
}


/* responsiveness for medium to large screens */
@media (min-width: 415px) {
    .weatherCard .rightBlock {
        font-size: 1.2em;
    }
    .weatherCard .rightBlock .sunTemp {
        position: absolute;
        top: 16px;
        left: var(--left-txt-lg);
    }
    .weatherCard .rightBlock .nightTemp {
        position: absolute;
        top: 56px;
        left: var(--left-txt-lg);
    }
    .weatherCard .rightBlock img.sunTemp_icon {
        position: absolute;
        top: 16px;
        left: var(--left-icon-lg);
    }
    .weatherCard .rightBlock img.nightTemp_icon {
        position: absolute;
        top: 53px;
        left: var(--left-icon-lg);
    }
    .weatherCard .rightBlock .nightTemp {
        position: absolute;
        top: 56px;
        left: var(--left-txt-lg);
    }
    .weatherCard .rightBlock img.rain_icon {
        top: 90px;
        left: var(--left-icon-lg);
        width: 45px;
        height: 35px;
    }
    .weatherCard .rightBlock img.wind_icon {
        top: 135px;
        left: var(--left-icon-lg);
        width: 45px;
        height: 35px;
    }
    .weatherCard .rightBlock .windspeed {
        top: 130px;
        left: var(--left-txt-lg);
    }
    .weatherCard .rightBlock .winddir {
        top: 130px;
        left: calc( var(--left-txt-lg) + 70px);
    }
    .weatherCard .rightBlock .windscale {
        position: absolute;
        top: 162px;
        left: var(--left-txt-lg);
        height: 30px;
    }
    .weatherCard .rightBlock .pop {
        top: 94px;
        left: var(--left-txt-lg);
    }
    .weatherCard .rightBlock .rain {
        left: calc( var(--left-txt-lg) + 70px);
        top: 94px;
    }
    .weatherCard .rightBlock .humidity_icon {
        position: absolute;
        top: 11px;
        left: var(--left-icon2-lg);
        height: 30px;
    }
    .weatherCard .rightBlock .humidity {
        position: absolute;
        top: 14px;
        left: var(--left-txt2-lg);
        height: 30px;
    }
    .weatherCard .rightBlock .clouds_icon {
        position: absolute;
        top: 51px;
        left: var(--left-icon2-lg);
        height: 30px;
        width: 40px;
    }
    .weatherCard .rightBlock .clouds {
        position: absolute;
        top: 58px;
        left: var(--left-txt2-lg);
        height: 30px;
    }
    .weatherCard .lowerLeftBlock .feelsCard {
        top: 52px;
        font-size: 11px;
    }
    .weatherCard .upperLeftBlock {
        font-size: 0.87em;
    }

}
/* footer section */

#weatherModal footer {
    font-size: 0.80em;
}

#weatherModal footer #compassContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#weatherModal footer img.compass_icon {
    --diameter: 170px;
    padding: 10px;
    margin: 0px;
    width: var(--diameter) ;
    height: var(--diameter);
}

