#currWeatherCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    grid-auto-rows: min-content;
    margin: 10px 1px 10px 0px;
    border-radius: 8% 8%;
    /*background-color: aqua;*/
      color: antiquewhite;
    font-weight: bold;
    background: rgb(69,192,196);
    background: -moz-linear-gradient(90deg, rgba(69,192,196,1) 0%, rgba(26,231,231,1) 20%, rgba(0,201,254,1) 41%, rgba(42,203,245,1) 68%, rgba(18,231,223,1) 80%, rgba(0,255,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(69,192,196,1) 0%, rgba(26,231,231,1) 20%, rgba(0,201,254,1) 41%, rgba(42,203,245,1) 68%, rgba(18,231,223,1) 80%, rgba(0,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(69,192,196,1) 0%, rgba(26,231,231,1) 20%, rgba(0,201,254,1) 41%, rgba(42,203,245,1) 68%, rgba(18,231,223,1) 80%, rgba(0,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#45c0c4",endColorstr="#00ffff",GradientType=1);
    
    .leftCard {
        grid-column: 1 / 2;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 125px;

        $top-icon: -15px;
        .descIcon {
            position: absolute;
            top: $top-icon;
            width: 130px;
        }

        .descTxt {
            position: absolute;
            top: $top-icon + 105px;
            font-size: 1.4em;
        }
    }

    .rightCard {
        grid-column: 2 / 3;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .tempTxt {
            position: absolute;
            font-weight: bolder;
            top: 30px;
            font-size: 2.5em;
        }

        .feelsTxt {
            position: absolute;
            top: 80px;
            font-size:1.3em;
        }
    }

    .bottomCard {
        grid-column: 1 / 3;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0px;
        grid-auto-rows: min-content;
        position: relative;

        .sunriseCard {
            grid-column: 1 / 2;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 120px;
        }

        .sunriseCard .sunriseIcon {
            position: absolute;
            top: 10px;
            width: 80px;
            height: 60px;
        }

        .sunriseCard .sunriseTxt {
            position: absolute;
            top: 80px;
        }

        .sunsetCard {
            grid-column: 2 / 3;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .sunsetCard .sunsetIcon {
            position: absolute;
            top: 10px;
            width: 80px;
            height: 60px;
        }

        .sunsetCard .sunsetTxt {
            position: absolute;
            top: 80px;
        }

        .cloudsCard {
            grid-column: 3 / 4;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .cloudsCard .cloudsIcon {
            position: absolute;
            top: 10px;
            width: 60px;
            height: 60px;
        }

        .cloudsCard .cloudsTxt {
            position: absolute;
            top: 80px;
        }

        .humidityCard {
            grid-column: 4 / 5;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .humidityCard .humidityIcon {
            position: absolute;
            top: 10px;
            width: 60px;
            height: 60px;
        }

        .humidityCard .humidityTxt {
            position: absolute;
            top: 80px;
        }

        .rainCard {
            grid-column: 1 / 3;
            grid-row: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        $second-row-radius: 70px;
        $second-row-top: 10px;
        .rainCard .rainIcon {
            position: absolute;
            top: $second-row-top;
            width: $second-row-radius;
            height: $second-row-radius;
        }

        .rainCard .rainTxt {
            position: absolute;
            top: 100px;
        }

        .windCard {
            grid-column: 3 / 5;
            grid-row: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 170px;
        }

        .windCard .windIcon {
            position: absolute;
            top: $second-row-top;
            width: $second-row-radius;
            height: $second-row-radius;
        }

        .windCard .windSpeedTxt {
            position: absolute;
            top: 80px;
        }

        .windCard .windDirTxt {
            position: absolute;
            top: 112px;
        }

        .windCard .windScaleTxt {
            position: absolute;
            top: 135px;
        }
    }

}

@media (max-width: 460px) {
    #currWeatherCard {
        margin-right: 12px;

        p {
            font-size: 1.1em;
        }
    }
}

