#hotelNavBar {
    display: grid;
    grid-template-columns: 1fr 1fr 0.4fr;
    gap: 0px;
    grid-auto-rows: min-content;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    width: 100%;
    font-family: "Handlee", cursive;
    font-size: 1.4em;

    $y-height: 25px;
    .leftBlock {
        height: 90px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 1;
        
        .hotelLogo {
            position: absolute;
            top: 20px;
            left: 50px;
        }

        .hotelName {
            position: absolute;
            top: $y-height;
            left: 110px;
        }
    }

    .middleBlock {
        grid-column: 2/3;
        grid-row: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;

        .weatherFrame {
            position: absolute;
            top: 0px;
            right: 20px;
            width: 270px;

            .btnWeatherInfo {
                z-index: 2;
                position: absolute;
                top: 8px;

                i {
                    font-size: 22px;
                }
            }

            .summaryWeather {
                position: relative;
                width: 150px;
                left: 70px;

                img {
                    position: absolute;
                    width: 90px;
                    top: 0px;
                    left: 38px;
                }

                p {
                    position: absolute;
                    top: 25px;
                    left: 119px;
                }
            }

        }

    }

    .rightBlock {
        grid-column: 3/4;
        grid-row: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .btnMenu {
            cursor: pointer;
            position: absolute;
            right:  25px;
            top: 25px;
            top: $y-height;
        }
    }
}

@media (max-width: 920px) {
    #hotelNavBar {
        grid-template-columns: 1fr;
        font-size: 1.4em;

        .leftBlock {
            grid-column: 1;
            grid-row: 1;
            height: 100px;
            position: relative;
            display: flex;
            align-content: center;
            justify-content: center;

            .hotelLogo {
                position: relative;
                top: 0px;
                left: 20px;
            }

            .hotelName {
                position: relative;
                top: 0px;
                left: 30px;
            }
        }

        .rightBlock {
            position: relative;
            grid-column: 1;
            grid-row: 3;
            height: 55px;
            display: flex;
            align-content: center;
            justify-content: center;

            .btnMenu {
                position: relative;
                top: 0px;
            }
        }

        .middleBlock {
            position: relative;
            grid-column: 1;
            grid-row: 2;
            height: 60px;
            display: flex;
            align-content: center;
            justify-content: center;

            .weatherFrame {
                position: relative;
                top: -50px;
                left: 0px;
            }
        }
    }
}

@media (max-width: 400px) {
    #hotelNavBar .leftBlock .hotelName {
        width: 270px;
    }
}
