<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hotel Punta del Cielo</title>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'puntadelcielo/bulma/bulma-0.9.1/css/bulma.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'puntadelcielo/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'puntadelcielo/css/navigationBar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'puntadelcielo/css/currWeatherCard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'puntadelcielo/css/weatherDayCard.css' %}">

    <!-- baseCss will be overriden by its css children  -->
    {% block baseCss %}{% endblock %}

    <script src="https://use.fontawesome.com/5520a791e7.js" async></script>
    <script src="{% static 'puntadelcielo/js/toogler_burger.js' %}" defer></script> 
    <script src="{% static 'puntadelcielo/js/base.js' %}" defer></script> 

    <!--  baseScript will be overriden by its scripts children -->
    {% block baseScript %}
        <script src="" defer></script> 
    {% endblock %}
</head>
<body>

<!--  prevent Flash of unstyled content (FOUC) in Firefox only  -->
<script>0</script>
<!-- navigation bar menu  -->
<section id="hotelNavBar">
    <div class="leftBlock">
        <div class="hotelLogo">
            <img src="{% static 'puntadelcielo/images/travel.webp' %}" width="45" height="40" title="Flaticon">
        </div>
        <div class="hotelName">
            <p>
            Hotel Punta del Cielo
            </p>
        </div>
    </div>
    <div class="middleBlock">
        {% if weather %}
        <div class="weatherFrame">
            <button onclick="getWeather()"  class="btnWeatherInfo button mt-4 is-info"/>
                <strong><p>Clima &thinsp;</p></strong><i class="fa fa-info-circle"></i>
            </button>
            <div class="summaryWeather">
                <img src="https://openweathermap.org/img/wn/{{weather.current.weather.0.icon}}@2x.png" alt="clima de tecolutla veracruz"/>   
                <p class="" >{{weather.current.temp}}°C</p>
            </div> 
        </div>
        {% endif %}
    </div>
    <div class="rightBlock">
        <div class="btnMenu">
            <span onclick="openNav()">
                <p>Menú &thinsp;&#9776;</p>
            </span>
        </div>
    </div>
</section>

<!-- weather modal information -->          

{% if weather %}
{% include 'puntadelcielo/weatherModal.html' %}
{% endif %}

<!-- navigation bar menu content overlay -->
<section>
    <div id="myNav" class="overlay">
        <div class="container">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a class="has-text-weight-bold" href="{% url 'puntadelcielo:index' %}" onclick="closeNav()">
                    Principal
                </a>
                <a class="has-text-weight-bold" href="{% url 'puntadelcielo:index' %}#activities" onclick="closeNav()">
                    Actividades
                </a>
                <a class="has-text-weight-bold" href="{% url 'puntadelcielo:facilities' %}" onclick="closeNav()" >
                    Instalaciones
                </a>
                <a class="" href="{% url 'puntadelcielo:contact' %}" onclick="closeNav()">
                    <strong>Contacto</strong>
                </a>
                <a class="has-text-weight-bold" href="{% url 'puntadelcielo:questions' %}" onclick="closeNav()" >
                   FAQs 
                </a>
            </div>
        </div>
    </div>
</section>

<!--  baseContent will be overriden by its children form the navigation bar  -->
{% block baseContent %}
    I am here in the base content
{% endblock %}

<footer id="baseFooter" class="footer has-background-grey-light	 is-transparent" id="myfooter">
    <ul class="footerMenu">
        <li>
            <a href="{% url 'puntadelcielo:index' %}" >Principal</a>
        </li>
        <li>
            <a href="{% url 'puntadelcielo:index' %}#activities" >Actividades</a>
        </li>
        <li>
            <a href="{% url 'puntadelcielo:facilities' %}" >Instalaciones y servicios</a>
        </li>
        <li>
            <a href="{% url 'puntadelcielo:contact' %}" >Contacto y ubicación</a>
        </li>
        <li>
            <a href="{% url 'puntadelcielo:questions' %}" >Preguntas frecuentes</a>
        </li>
    </ul>
    <div class="reserveRights">
        <hr>
        <p>&#169;{% now "Y" %} Hotel Punta del Cielo. Todos los derechos reservados.</p>    
        <p>Avenida Hidalgo #51 Tecolutla, Veracruz.</p>
    </div>
</footer>


</body>

</html>
