{% extends "puntadelcielo/base.html" %}
{% load static %}

{% block baseCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'puntadelcielo/css/contact.css' %}">
{% endblock  %}

{% block baseScript %}
    <script src="{% static 'puntadelcielo/js/contact.js' %}" async>
</script>
{% endblock  %}

{% block baseContent %}

<section class="section contact">
    <div class="wrapperL1">
        <div class="instructions">
            <h1 class="title">¿Cómo llego?</h1>
            <article class="media">
                <figure class="media-left">
                    <div class="image is-64x64">
                        <img src="{% static "puntadelcielo/icons/walking.png" %}">
                    </div>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>Saliendo de la terminal de ADO tendrá enfrente a la calle Mariano Abasolo, caminar sobre ella, en dirección al faro de Tecolutla. Doblar a mano derecha en la calle Hermenegildo Galeana. Por esta calle caminar derecho tres cuadras y en la esquina entre la calle Miguel Hidalgo y Mariano Abasolo nos encontrarás.</p>
                    </div>
                </div>
            </article>
            <hr>
            <article class="media">
                <figure class="media-left">
                    <div class="image is-64x64">
                        <img src="{% static "puntadelcielo/icons/car.png" %}">
                    </div>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>Entrando a Tecolutla seguir todo derecho hasta llegar a la calle Revolución que se encuentra a mano derecha. Seguir hasta llegar a la calle Hidalgo y doblar a la izquierda. Después, seguir todo derecho pasando por el parque y a final de la calle nos encontrarás en la esquina entre la calle Hidalgo y Hermenegildo Galeana.</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="location card"  style="width:600px;">
            <div class="card-image" style="height:450px;">
                <iframe src="about:blank" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe> 
            </div>
            <div class="card-content has-background-primary has-text-light">
                <div class="content">
                    <p>Estamos cerca de todo lo que necesitas para una agradable estancia cerca de la playa.</p>
                    <p>Si google maps no carga refrescar la página <button class="button is-warning" onClick="window.location.reload();">Refrescar</button></p>
                </div>
            </div>
        </div>
        <div class="woodContainer">
            <h3 class="myTitle">Contactanos</h3>    
            <div class="subWrapper">
                <img class="whatsapp_icon" src="{% static 'puntadelcielo/icons/whatsapp.png' %}" alt="whatsapp icono"/>
                <p class="tel">7661006738</p>
                <img class="email_icon" src="{% static 'puntadelcielo/icons/gmail.png' %}" alt="email icono"/>
                <p class="mail">hotelpuntadelcielo@gmail.com</p>
            </div>
        </div>
    </div>
</section>

{% endblock  %}

