{% extends "puntadelcielo/base.html" %}
{% load static %}

{% block baseCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'puntadelcielo/css/carousel.css' %}">
{% endblock %}

{% block baseScript %}
    <script src="{% static 'puntadelcielo/js/carousel.js' %}" defer></script>
{% endblock %}

{% block baseContent %}

<section class="section ">
    <div class="container">
        <div class="woodContainer">
            <h1 class="myTitle">Nuestras instalaciones</h1>
            <p>Ven y disfruta con tu familia o amigos de una agradable estancia con nosotros</p>
            <p>Estamos perfectamente ubicados </p>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="pictureFrame">
            <div class="slideshow-container">
                {% for picture in pictures  %}
                <div class="mySlides fade">
                    <div class="numbertext">
                        <p>{{forloop.counter}} / {{pictures|length}}</p>
                    </div>
                    <figure class="image is-3by2">
                        <img class="" src="{% static 'puntadelcielo/images/'|add:picture.name  %}" loading="lazy">
                        <div class="block mt-3">
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                    </figure>
                    <div class="text_"><p>{{picture.caption}}</p></div>
                </div>
                {% endfor %}
                <div style="text-align:center" id="dotContainer">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section has-background-grey-lighter">
    <div class="container">
        <p class="title">
            Estamos ubicados cerca de todo lo que necesitas para pasar un tiempo relajado y a gusto
        </p>
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img class="zoom" src="{% static 'puntadelcielo/images/downtown.webp' %}" alt="Placeholder image" loading="lazy">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    A unas escasas 3 cuadras esta el parque y el palacio municipal de Tecolutla, ideal para salir a caminar con la familia y amigos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-child box">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img class="zoom" src="{% static 'puntadelcielo/images/down_to_the_beach.webp' %}" alt="Placeholder image" loading="lazy">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    La playa queda a menos de 4 cuadras, o aproximadamente unos 4 minutos caminando, puedes estar tranquilo teniendo las instalaciones del hotel y la playa a unos 400 metros de distancia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img class="zoom" src="{% static 'puntadelcielo/images/beach_river.webp' %}" alt="Placeholder image" loading="lazy">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Nuestra gran ubicación permite a nuestros clientes una distancia corta de recorrido a pie de los sitios más visitados del pueblo, con la playa a unos escasos 400 metros y el río atrás de nosotros a 280 metros o 3 minutos a pie, donde podrás gozar de la hermosa vista que el río de Tecolutla ofrece y/o tomar paseos guiados en lancha a los manglares.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>

{% endblock  %}

