{% extends "puntadelcielo/base.html" %}
{% load static %}

{% block baseContent %}

<!-- landing page intro  -->
<div  id="header_container">
    <div class="container" id="landingPageIntro">
        <h1 class="title">Hotel Punta del Cielo</h1>
        <h2 class="subtitle is-3">Ven y pasa un buen rato con nosotros</h2>
    </div>
</div>

<!-- intro to tecolutla town  -->
<section id="townSection" class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column content">
                    <p class="title">Bienvenido al Hotel Punta del Cielo</p>
                    <p class="has-text-weight-medium">
                        <strong>Tecolutla</strong> inicio como una población prehispánica totonaca, su nombre proviene de la palabra tecolote; con la terminación abundancia; tlan abundancia de tecolotes. En 1522, la flota de Juan de Grijalva descubrió el río Tecolutla y empezó la evangelización e introducción del idioma español.
                    </p>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-5by4">
                                <img id="roundedImg" class="is-rounded zoom" src="{% static 'puntadelcielo/images/city.webp' %}" alt="Pueblo de Tecolutla Veracruz, México"
                                loading="lazy"/>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  activities in tecolutla  -->
<section id="activities" class="section">
    <div class="container">
        <h1 class="title">Actividades en el Pueblo de Tecolutla Veracruz</h1>
        <h2 class="subtitle">
            Ven y diviertete con toda tu familia y disfruta de unas merecidas vacaciones o un
            buen fin de semana
        </h2>
        <div class="columns is-multiline">
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img class="zoom" src="{% static 'puntadelcielo/images/sundown.webp' %}" alt="atardecer en tecolutla" loading="lazy">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p>
                                Disfruta del atardecer en las playas de Tecolutla en la compañia de las personas que más te
                                importan.
                            <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img class="zoom" src="{% static 'puntadelcielo/images/mangroves.webp' %}" alt="manglares de tecolutla" loading="lazy">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p>
                                Los manglares forman parte de los humedales ubicados desde Casitas hasta Tecolutla, que cubren alrededor de 54 km de costa. Es el hábitat idóneo para cientos de especies de animales. Ven y descúbrelos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img class="zoom" src="{% static 'puntadelcielo/images/walking.webp' %}" alt="Caminara por la playa de tecolutla" loading="lazy">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p>
                                Hay cerca de 15 km de playa, por lo que podrás tener agradables caminatas o salir a correr y disfrutar las hermosas vistas que esta playa de Veracruz tiene que ofrecer.
                            </p>                       
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img class="zoom" src="{% static 'puntadelcielo/images/sunbath.webp' %}" alt="Relajarse en la playa de tecolutla" loading="lazy">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p>
                                Relájate y toma un agradable día en la playa. Puedes conseguir alimentos y bebidas ahí mismo con los comerciantes locales o rentar una palapa para tener sombra y mesa para una convivencia más agradable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img class="zoom" src="{% static 'puntadelcielo/images/riverTrip.webp' %}" alt="paseos en lancha en tecolutle" loading="lazy">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p>
                               Toma recorridos en lancha para que puedas conocer la flora y fauna que este increíble municipio de Veracruz tiene para el mundo. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img class="zoom" src="{% static 'puntadelcielo/images/cocoFestival.webp' %}" alt="festival del coco en tecolutla veracruz" loading="lazy">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p>
                            Una de las mayores atracciones, desde 1994, es el festival del coco, en donde los pobladores se reúnen  para elaborar uno de los dulces de coco más grandes del mundo. Los festejos inician a mediados o finales del mes de febrero con la coronación de la reina. Se elaboran diferentes sabores y  es ofrecida al turismo para ser degustada.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block baseScript %}
{% endblock %}
