{% extends "puntadelcielo/base.html" %}
{% load static %}

{% block baseCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'puntadelcielo/css/qa.css' %}">
{% endblock %}

{% block baseScript %}
    <script src="{% static 'puntadelcielo/js/qa.js' %}" defer></script>
{% endblock %}

{% block baseContent %}

<div class="columns is-tablet my-5 mx-4">
    <div class="column" >
        <div class="woodContainer">
            <h3 class="myTitle">FAQs</h3>
            <p>
                Se incluyen preguntas comunes que muchos clientes nos han solicitado, esto para facilitar la comunicación contigo y puedas planear a gusto tus vacaciones con tiempo y a tu propio modo.
            </p>
        </div>
    </div>
    <div class="column mx-5" >
        <div class="container">
            {% for question in questions  %}
            <div class="slidedown my-3">
                <div class="slidedown-trigger py-2">
                    <div class="question has-background-info py-2 is-unselectable">
                        <p>
                        {{question.question}}
                        <span class="slidedown-icon">
                           &ensp;<i class="fa fa-angle-double-down"></i> 
                        </span>
                        </p>

                    </div>
                </div>
                <div class="slidedown-menu is-hidden" >
                    <div class="box my-2">
                        <p>{{question.answer}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock  %}

