{% load static %}
<div class="container">
    <div class="modal" id="weatherModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Clima de Tecolutla</p>
                <button onclick="dropWeather()" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body px-2">
                <h3 class="title is-4">Clima para el {{weather.current.dt|date}} a las {{weather.current.dt|time:"h:i a"}}</h3>
                <!-- main weather card tiles -->
                <div id="currWeatherCard">
                    <div class="leftCard">
                        <img class="descIcon" src="http://openweathermap.org/img/wn/{{weather.current.weather.0.icon}}@2x.png" alt=""/> 
                        <p class="descTxt">{{weather.current.weather.0.description}}</p> 
                    </div>
                    <div class="rightCard">
                        <p class="tempTxt">{{weather.current.temp|floatformat:1}}°C</p> 
                        <p class="feelsTxt">Sientes {{weather.current.feels_like|floatformat:1}}°C</p> 
                    </div>
                    <div class="bottomCard">
                        <div class="sunriseCard">
                            <p class="sunriseTxt">{{weather.current.sunrise}}</p> 
                            <img class="sunriseIcon" src="{% static 'puntadelcielo/icons/sunrise.png' %}" alt=""/>
                        </div>
                        <div class="sunsetCard">
                            <p class="sunsetTxt">{{weather.current.sunset}}</p> 
                            <img class="sunsetIcon" src="{% static 'puntadelcielo/icons/sunset.png' %}" alt=""/>
                        </div>
                        <div class="cloudsCard">
                            <img class="cloudsIcon" src="{% static 'puntadelcielo/icons/clouds.png' %}" alt=""/>
                            <p class="cloudsTxt">{{weather.current.clouds}}%</p> 
                        </div>
                        <div class="humidityCard">
                            <img class="humidityIcon" src="{% static 'puntadelcielo/icons/humidity.png' %}" alt=""/>
                            <p class="humidityTxt">{{weather.current.humidity}}%</p> 
                        </div>
                        <div class="rainCard">
                            <img class="rainIcon" src="{% static 'puntadelcielo/icons/rain.png' %}" alt=""/>
                            <p class="rainTxt">
                                {% if weather.current.rain %}
                                {{weather.current.rain.1h}}mm/h
                                {% else %}
                                --
                                {% endif %}
                            </p> 
                        </div>
                        <div class="windCard">
                            <img class="windIcon" src="{% static 'puntadelcielo/icons/wind.png' %}" alt=""/>
                            <p class="windSpeedTxt">{{weather.current.wind_speed|floatformat:1}}kph</p> 
                            <p class="windDirTxt">{{weather.current.wind_dir}}</p> 
                            <p class="windScaleTxt">{{weather.current.wind_scale}}&plusmn;</p> 
                        </div>
                    </div>
                </div>
                <h3 class="title is-4">Pronóstico de {{weather.daily|length}} días</h3>
                {% for day in weather.daily %}
                {% with decimaldig=1 %}
                <div class="weatherCard">
                    <div class="upperLeftBlock">
                        <div class="dayCard">
                            <p>{{day.dt|date:"l"}}</p> 
                        </div>
                        <div class="dateCard">
                            <p>{{day.dt|date:"M j"}}</p>
                        </div>
                        <div class="iconCard">
                            <img src="http://openweathermap.org/img/wn/{{day.weather.0.icon}}@2x.png" alt=""/>
                        </div>
                        <div class="descCard">
                            <p>{{day.weather.0.description}}</p>
                        </div>
                    </div>
                    <div class="lowerLeftBlock">
                        <div  class="maxTemp">
                           <p>{{day.temp.max|floatformat:decimaldig}}°C</p>
                        </div>
                        <div class="minTemp">
                           <p >{{day.temp.min|floatformat:decimaldig}}°C</p>  
                        </div>
                        <div class="feelsCard">
                            <p>Sientes {{day.feels_like.day|floatformat:decimaldig}}°C</p>
                        </div> 
                    </div>
                    <div class="rightBlock">
                        <div class="sunTemp">
                            {{day.temp.day|floatformat:decimaldig}}°C 
                        </div>
                        <img class="sunTemp_icon icon" src="{% static 'puntadelcielo/icons/sunTemp.png' %}" alt=""/>
                        <div class="nightTemp">
                            {{day.temp.night|floatformat:decimaldig}}°C 
                        </div>
                        <img class="nightTemp_icon icon" src="{% static 'puntadelcielo/icons/nightTemp.png' %}" alt=""/>
                        <img class="rain_icon icon" src="{% static 'puntadelcielo/icons/rain.png' %}" alt=""/>
                        <div class="pop">
                            {{day.pop|floatformat:decimaldig}}% {% if day.rain %}({{day.rain|floatformat:decimaldig}}mm/h){% endif %}  
                        </div>
                        <img class="wind_icon icon" src="{% static 'puntadelcielo/icons/wind.png' %}" alt=""/>
                        <div class="windspeed">
                            {{day.wind_speed|floatformat:decimaldig}}kph ({{day.wind_dir}})</br> 
                            {{day.wind_scale}}&plusmn;
                        </div>
                        <div class="humidity">
                            {{day.humidity|floatformat:decimaldig}}% 
                        </div>
                        <img class="humidity_icon icon" src="{% static 'puntadelcielo/icons/humidity.png' %}" alt=""/>
                        <div class="clouds">
                            {{day.clouds|floatformat:decimaldig}}% 
                        </div>
                        <img class="clouds_icon icon" src="{% static 'puntadelcielo/icons/clouds.png' %}" alt=""/>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
            </section>
            <footer class="modal-card-foot p-0">
                <div class="columns is-mobile p-1 px-2">
                    <div class="column">
                        <div class="columns is-multiline ">
                            <div class="column is-full pb-0">
                                <small><p>Fuente: openweathermap.org</p></small>
                                <img src="https://openweathermap.org/themes/openweathermap/assets/img/logo_white_cropped.png" width="100" alt="openweathermap"/> 
                            </div>
                            <div class="column is-full pb-0">
                                <small><p>&plusmn; Escala Beaufort de velocidad del viento (1-12)</p> </small> 
                            </div> 
                        </div>
                    </div>
                    <div class="column" id="compassContainer">
                        <img class="compass_icon" src="{% static 'puntadelcielo/icons/compass.png' %}" alt=""/>
                    </div> 

                </div>
            </footer>
        </div>
    </div>
</div>
